.display-block {
  display: block !important;
}

.desktop-menu {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1976d2;
  margin: 3%;
}

.mobile-menu-background {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.721);
  margin: 0;
}

.mobile-menu-button,
.mobile-menu-close-button {
  display: none;
}

.mobile-menu-button i,
.mobile-menu-close-button i {
  font-size: 36px;
}
.mobile-menu-close-button {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 750px) {
  .mobile-spacing {
    margin: 8px 0 !important;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }
} ;
