.product-container {
  width: 100vw;
  max-width: 375px;
}

@media (min-width: 750px) and (max-width: 1125px) {
  .product-container {
    max-width: 750px;
  }
}

@media (min-width: 1125px) and (max-width: 1500px) {
  .product-container {
    max-width: 1125px;
  }
}

@media (min-width: 1500px) and (max-width: 1875px) {
  .product-container {
    max-width: 1500px;
  }
}

@media (min-width: 1875px) {
  .product-container {
    max-width: 1875px;
  }
}
